# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environnements virtuels
venv/
ENV/
env/
.venv/
.ENV/
.env/

# Python
*.py[cod]
*$py.class
*.so

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Système
.DS_Store
Thumbs.db

.coverage