<!DOCTYPE html>
<html lang="fr">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon app DJANGO{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/list_products.css' %}" />
    <link rel="stylesheet" href="{% static 'css/detail_product.css' %}" />
    <link rel="stylesheet" href="{% static 'css/order_validation.css' %}" />
    <link rel="stylesheet" href="{% static 'css/detail_supplier.css' %}" />
</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Mon app DJANGO</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Accueil</a></li>
                    <li><a href="{% url 'about' %}">À propos</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>

                    {% if user.is_authenticated and user.is_superuser %}
                    <li><a href="{% url 'produits' %}">Produits</a></li>
                    <li><a href="{% url 'suppliers' %}">Fournisseurs</a></li>
                    <li><a href="{% url 'orders' %}">Commandes</a></li>
                    <li><a href="{% url 'attributs' %}">Attributs</a></li>
                    <li><a href="{% url 'items' %}">Items</a></li>
                    {% endif %}
                    {% if user.is_authenticated and not user.is_superuser %}
                    <li><a href="{% url 'produits' %}">Produits</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart_detail' %}">
                            Mon panier
                            <img src="{% static 'icons/shopping_cart.svg' %}" alt="Panier"
                                style="width: 1rem; margin-left: 0.5rem;">
                        </a>
                    </li>
                    {% endif %}

                    {% if request.session.supplier %}

                    <li><a href="#">Mes produits</a></li>
                    <li><a href="{% url 'supplier_orders' %}">Mes commandes</a></li>

                    {% endif %}

                    {% if user.is_authenticated or request.session.supplier %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Déconnexion</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Inscription</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="container">
        {% block content %}
        <!-- Contenu spécifique à chaque page -->
        {% endblock %}
    </div>
    {% block script %}
    {% endblock %}
</body>

</html>