{% extends "base.html" %}

{% block title %}Mon Panier{% endblock %}

{% block content %}
<h2>Mon Panier</h2>
<ul>
    {% for item in cart.items.all %}
    <li>
        <p> Fournisseur : {{ item.product_supplier.supplier.name }}</p>
        <form method="post" action="{% url 'update_cart' item.product_supplier.id %}">
            {% csrf_token %}
            <img src="{{ item.product_supplier.product.image.url }}" alt="{{ item.product_supplier.product.name }}" style="width: 50px; height: 50px;">
            {{ item.product_supplier.product.name }} - {{ item.total_price }} €
            <input type="number" name="quantity" value="{{ item.quantity }}" min="1" max="10">
            <button type="submit" class="btn btn-primary">Modifier</button>
        </form>
        <form method="post" action="{% url 'remove_from_cart' item.product_supplier.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Supprimer</button>
        </form>
    </li>
    {% endfor %}
</ul>
<p>Total : {{ total_price }} €</p>
<a href="" class="btn btn-primary">Passer à la caisse</a>
{% endblock %}