{% extends "base.html" %}

{% block title %}Mon app DJANGO - Détail du produit{% endblock %}

{% block menu %} <h1>{{titremenu}}</h1> {% endblock %}
{% block content %}
<img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-img" style="width: 20vw; height: 20vh;">
<h2>{{ product.name }}</h2>
<ul>
    <li>Code : {{ product.code }}</li>
    <li>Prix : {{ product.price }} €</li>
    <li>Date de création : {{ product.date_creation }}</li>
    <li>Fournisseurs :
        <ul>
            {% for product_supplier in product_suppliers %}
                <li>
                    <a href="{% url 'detail_supplier' product_supplier.supplier.id %}">{{ product_supplier.supplier.name }} </a>
                    - Prix : {{ product_supplier.price }} €
                </li>
            {% endfor %}
        </ul>
    </li>
</ul>
<a href="{% url 'update_product' product.id %}" class="btn btn-primary mt-3">Modifier</a>
{% endblock %}