{% extends "base.html" %}
{% load static %}

{% block title %}Mon app DJANGO - Produits{% endblock %}

{% block content %}
<h1>{{ titremenu }}</h1>
<a class="btn btn-success mb-4" href="{% url 'new_product' %}">Nouveau produit</a>
<!-- Barre de recherche -->
<p class="lead mb-3 ml-0">Rechercher un élément...</p>
<form method="GET" action="">
    <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"
        value="{{ request.GET.search }}">
    <button type="submit" class="btn btn-success mt-2">Rechercher</button>
</form>

<p>J'ai {% if products|length < 5 %} peu de {% elif products|length < 10 %} quelques {% else %} beaucoup de {% endif %}
produits préférés.</p>
<p>Mes produits préférés sont :</p>

<div class="list-products">
    {% for prdct in products %}
        <div class="product-card">
            <img src="{{ prdct.image.url }}" alt="{{ prdct.name }}" class="product-img">
            <h2>{{ prdct.name }}</h2>
            <p>Prix TTC: {{ prdct.price_ttc }} €</p>
            <div class="buttons">
                <a href="{% url 'detail_product' prdct.id %}" class="btn btn-primary">Voir le détail</a>
                <a href="" class="btn btn-primary">
                    <img src="{% static 'icons/shopping_cart.svg' %}">
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
