{% extends "base.html" %}

{% block title %}Mon app DJANGO - Produits{% endblock %}

{% block content %}
<h1>{{ titremenu }}</h1>
{% if user.is_admin %}
<a class="btn btn-success mb-4" href="{% url 'new_product' %}">Nouveau produit</a>
{% endif %}
<!-- Barre de recherche -->
<p class="lead mb-3 ml-0">Rechercher un élément...</p>
<form method="GET" action="">
    <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"
        value="{{ request.GET.search }}">
    <button type="submit" class="btn btn-success mt-2">Rechercher</button>
</form>

<div class="list-products">
    {% for prdct in products %}
        <div class="product-card">
            <img src="{{ prdct.image.url }}" alt="{{ prdct.name }}" class="product-img">
            <h2>{{ prdct.name }}</h2>
            {% if prdct.total_quantity %}
                <p>À partir de {{ prdct.min_price }} €</p>
                <p style="color: green;">En stock</p>
            {% else %}
                <p style="color: transparent;">Pas de prix</p>
                <p style="color: red;">En rupture de stock</p>
            {% endif %}
            <p></p>
            <a href="{% url 'detail_product' prdct.id %}" class="btn btn-primary">Voir le détail</a>
        </div>
    {% endfor %}
</div>

{% endblock %}