<!-- admin/fournisseur.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Liste des Fournisseurs</h1>
<a href="{% url 'new_supplier' %}" class="btn btn-primary">Ajouter un nouveau fournisseur</a>
<p class="lead mb-3 ml-0">Rechercher un fournisseur...</p>
<form method="GET" action="">
    <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"
        value="{{ request.GET.search }}">
    <button type="submit" class="btn btn-success mt-2">Rechercher</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Adresse</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for fournisseur in suppliers %}
        <tr>
            <td>{{ fournisseur.name }}</td>
            <td>{{ fournisseur.email }}</td>
            <td>{{ fournisseur.phone }}</td>
            <td>{{ fournisseur.address }}</td>
            <td>
                <a href="{% url 'update_supplier' fournisseur.id %}" class="btn btn-secondary">Modifier</a>
                <a href="{% url 'delete_supplier' fournisseur.id %}" class="btn btn-danger">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}